DB_HOST=localhost
DB_USER=root
DB_PASSWORD=pixel2025
DB_NAME=pixel_salud
PORT = 5000 

MP_ACCESS_TOKEN=APP_USR-398519117271139-091920-079d70147f4b8f0fd7cd885bc2624985-2703374190

SECRET_KEY=240499

BACKEND_URL= https://histomorphological-alonzo-figuratively.ngrok-free.dev
FRONTEND_URL=http://localhost:5173  # 👈 ¡Añadir esta línea!
VITE_API_URL=http://localhost:5000